<h1>All questions</h1>

<div class="row card-container" *ngFor="let question of questions">
    <mat-card class="example-cad ecard">
        <mat-card class="example-card" style="float: left; box-shadow: none;">
            <mat-card-subtitle style="text-align: center;">
                {{ question.numVote }}<br> Votes</mat-card-subtitle><br>
            <mat-card-subtitle style="text-align: center;">{{ question.numResponse || '&nbsp;' }}<br> answers
            </mat-card-subtitle>
        </mat-card>
        <mat-card-header>
            <mat-card-title><a class="nav-link text-dar" [routerLink]='["/single-post/"+question.id]'>{{ question.title || '&nbsp;' }}</a></mat-card-title>
            <mat-card-subtitle><markdown >{{ question.body || '&nbsp;' }}</markdown></mat-card-subtitle>
            <mat-card-subtitle>
                <div style="display: inline-block;" *ngFor="let tag of question.tags">
                    <button mat-raised-button matTooltip="Tag"
                        aria-label="Tag"
                        style="margin-right: 3px; border: none;  color: skyblue; background-color: black;">{{ tag }}</button>
                </div>
                <mat-card class="example-card" style="width: 170px; height: 100px; float: right; background-color: white; box-shadow: none;">
                    <mat-card-subtitle><span mat-raised-button matTooltip="Date du post"
                            matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" style=" font-size: 10px"
                            class="example-button">
                            asked at {{question.timestamp | date:'dd/MM/yyyy'}}
                        </span></mat-card-subtitle>
                    <mat-card-header>
                        <div mat-card-avatar [style.background-size]="'cover'" style="width: 25px; height: 25px;"
                            [style.background-image]="'url(' + (question.user.picturePath || 'uploads/unknown-user.jpg') + ')'">
                        </div>
                        <mat-card-title style=" font-size: 10px">{{question.user.firstName}}{{ '&nbsp;' }}{{question.user.lastName}}</mat-card-title>
                        <mat-card-subtitle>
                            <span mat-raised-button matTooltip="reputation score" matTooltipClass="example-tooltip-red"
                                aria-label="Button that shows a red tooltip" style=" font-size: 10px" class="example-button">
                                {{question.user.reputation }}
                            </span></mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-card-subtitle>

        </mat-card-header>
    </mat-card>
</div>