h1{
    margin-bottom: 25px;
    text-align: center;
}

.ecard{
    border-bottom: 3px solid orange;
    width: 100%;
}

.example-button {
    margin-top: 16px;
    cursor: pointer;
}
  
  .example-tooltip-red {
    background: black;
  }