<mat-icon class="icon" [routerLink]='["/posts"]'>keyboard_return</mat-icon>
<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span class="title">{{ post?.title! }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<i class="time">asked at {{ post?.timestamp! | timeAgo }}</i>

<app-post-view [post] = "post"></app-post-view>

<mat-toolbar class="toolbar2">
    <mat-toolbar-row>
        <span >{{ post?.numResponse }}{{ '&nbsp;' }} Answers for your</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="card-container" *ngFor="let response of responses">
    <app-post-view [post] = "response"></app-post-view>
    <mat-divider></mat-divider>
</div><br>

<mat-toolbar style="background-color: skyblue;">
    <mat-toolbar-row>
        <span>Your Answer</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="chat">chat</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<simplemde [(ngModel)]="responseBody"></simplemde>
<button mat-raised-button class="post" (click)="reply()">Post Your Answer</button>