<form id="editForm" class="form" [formGroup]="editForm" novalidate>
    <h1 class="header">{{(!isNew ? 'Edit existing' : 'Add a new') + ' tag'}}</h1>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-form-field>
            <input matInput placeholder="Name" [formControl]="ctlName" required [readonly]="!isNew">
            <mat-error class="field-error" *ngIf="ctlName.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError(' tagAlreadyExist')">Name already in use
            </mat-error>
        </mat-form-field>
    </mat-tab-group>
    <div class="footer">
        <button type="submit" mat-button form="editForm"
            [disabled]="editForm.pristine || editForm.invalid || editForm.pending"
            (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>