.title {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
.tag_info {
    font-size: 13px;
    
}

.filter_btn_toggle * {
    display: inline-flex;
}
.toggle {
    float: right;
    padding-top: 5px;
}

.popular {
    background-color: black;
    color: white;
    font-weight: bolder;
    position: inherit;
}

.Name {
    background-color: darksalmon;
    color: white;
    font-weight: bolder;
    position: inherit;
}

.New {
    background-color: darkturquoise;
    color: white;
    font-weight: bolder;
    position: inherit;
}
.tag-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.tag-container * {
    margin: 2px;
}

.add_tag {
    margin-top: 270px;
}

.add_btn {
    background-color: orange;
    color: white;
}