.form  {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.header{
    text-align: center;
    color: navy;
}

.bt-signup{
    text-align: center;
}

.bt-signup button{
    border: none;
    background-color: navy;
    color: white;
}

.bt-signup button:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}