<div class="row">
    <div class="col-md-4 col-md-offset-4"></div>
    <div class="col-md-4 col-md-offset-4">
        <form id="signupForm" [formGroup]="signupForm" novalidate>
            <h1 class="header">Signup</h1>
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Pseudo" [formControl]="ctlPseudo" required appSetFocus>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('pattern')">Pseudo must begin with letters</mat-error><br>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('minlength')">Minimum length is
                        {{ctlPseudo.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('maxlength')">Maximum length is
                            {{ctlPseudo.errors['maxlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('pseudoUsed')">Pseudo already in use
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Firstname" [formControl]="ctlFirstName" >
                    <mat-error class="field-error" *ngIf="ctlFirstName.hasError('minlength')">Minimum length is
                        {{ctlFirstName.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlFirstName.hasError('maxlength')">Maximum length is
                            {{ctlFirstName.errors['maxlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <div *ngIf="signupForm.errors">
                    <mat-error class="float-left" *ngIf="signupForm.hasError('firstNameRequired')">firstname is required</mat-error><br>
                </div>
                <mat-form-field>
                    <input matInput placeholder="Lastname" [formControl]="ctlLastName" >
                    <mat-error class="field-error" *ngIf="ctlLastName.hasError('minlength')">Minimum length is
                        {{ctlLastName.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlLastName.hasError('maxlength')">Maximum length is
                        {{ctlLastName.errors['maxlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <div *ngIf="signupForm.errors">
                    <mat-error class="float-left" *ngIf="signupForm.hasError('lastNameRequired')">lastname is required</mat-error><br>
                </div>
                <mat-form-field>
                    <input matInput type="text" placeholder="Email" [formControl]="ctlEmail" required>
                    <mat-error class="field-error" *ngIf="ctlEmail.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlEmail.hasError('pattern') || ctlEmail.hasError('email')">Email is not valid</mat-error>
                    <mat-error class="field-error" *ngIf="ctlEmail.hasError('emailUsed')">This email adress is already
                        used!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="date" placeholder="Birthdate" [formControl]="ctlBirthDate">
                    <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('tooYoung')">you re' too young </mat-error>
                    <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('futureBorn')">this Birthdate is bad</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="ctlPassword" required
                        autocomplete="new-password">
                        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPassword.hasError('minlength')">Minimum length is
                        {{ctlPassword.errors['minlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirm your password"
                        [formControl]="ctlConfirmPassword" required>
                        <a mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('required')">Required</mat-error>
                    <mat-error class="float-right" *ngIf="ctlConfirmPassword.hasError('minlength')">Minimum length is
                        {{ctlConfirmPassword.errors['minlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <div *ngIf="signupForm.errors && ctlConfirmPassword.dirty && ctlConfirmPassword.valid">
                    <mat-error class="float-left" *ngIf="signupForm.hasError('passwordNotConfirmed')">The passwords
                        don't match</mat-error>
                </div>
            </div><br>
            <div class="bg-btn">
                <button class="btn-warning" 
                        mat-stroked-button 
                        [disabled]="signupForm.pristine || signupForm.invalid || signupForm.pending"
                        (click)="signup()" >Signup</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-4"></div>
</div>