<div class="bg-signup row">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="row">
        <h1>Sign Up</h1>
        <mat-form-field>
            <input #pseudo matInput placeholder="Pseudo" [formControl]="ctlPseudo" required appSetFocus>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('custom')">{{ctlPseudo.errors.custom}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" [formControl]="ctlPassword" required>
            <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPassword.hasError('custom')">{{ctlPassword.errors.custom}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="confirm_password" placeholder="Confirm your password" [formControl]="ctlConfirmPassword" required>
            <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('custom')">{{ctlConfirmPassword.errors.custom}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="email" [formControl]="ctlEmail" required>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('custom')">{{ctlEmail.errors.custom}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="firstName" placeholder="firstName" [formControl]="ctlFirstName" required>
            <mat-error class="field-error" *ngIf="ctlFirstName.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlFirstName.hasError('custom')">{{ctlFirstName.errors.custom}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="lastName" placeholder="lastName" [formControl]="ctlLastName" required>
            <mat-error class="field-error" *ngIf="ctlLastName.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlLastName.hasError('custom')">{{ctlLastName.errors.custom}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="birthDate" placeholder="birthDate" [formControl]="ctlBirthDate" required>
            <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('custom')">{{ctlBirthDate.errors.custom}}
            </mat-error>
        </mat-form-field>
        <div>
            <button [disabled]="loading" mat-stroked-button>Sign In</button>
            <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>
