<form [formGroup]="signupForm" novalidate>
    <h1 class="header">Signup</h1>
    <div class="form">
        <mat-form-field>
            <input matInput placeholder="Pseudo" [formControl]="ctlPseudo" required appSetFocus>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('minlength')">Minimum length is
                {{ctlPseudo.errors['minlength'].requiredLength}}</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('pseudoUsed')">Pseudo already in use</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" [formControl]="ctlPassword" required
                autocomplete="new-password">
             <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPassword.hasError('minlength')">Minimum length is
                {{ctlPassword.errors['minlength'].requiredLength}}</mat-error> 
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm your password" [formControl]="ctlConfirmPassword" required>
            <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('validatePasswords')">The two passwors must
                be identical</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Firstname" [formControl]="ctlFirstName" >
            <mat-error class="field-error" *ngIf="ctlFirstName.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lastname" [formControl]="ctlLastName" required>
            <mat-error class="field-error" *ngIf="ctlLastName.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" [formControl]="ctlEmail" required>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('emailUsed')">This email adress is already used! 
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="Birthdate" [formControl]="ctlBirthDate">
            <!-- <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('validateBirthDate')">Required</mat-error> -->
        </mat-form-field>
    </div>
    <div>
        <button [disabled]="loading" mat-stroked-button  (click)="signup()" [disabled]="signupForm.invalid">Signin</button>
    </div>
</form>