.form  {
    margin-top: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-row-gap: 30px;
    margin: 3px;
}

* {
    box-sizing: border-box;
}

.header{
    text-align: center;
    color: navy;
}

.bg-btn{
    text-align: center;
}