@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
      padding-top: 50px;
    }
}

.containerr{
  padding: 0%;
}

.menu{
  width: 100%;
  
}

.bg{
  padding: 20px;
  position: inherit;
}
  