@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
      padding-top: 50px;
    }
}
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.body {
  padding-top: 100px;
 
  z-index: 2;
}

.containerr{
  padding: 0%;
}

.menu{
  width: 100%;
  
}

.bg{
  padding: 20px;
  position: inherit;
}


  