@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
      padding-top: 50px;
    }
}

.container{
  background-color: rgba(222, 184, 135, 0.7); 
  margin-top: 10%;
  margin-bottom: 80px;
  padding: 0%;
}

.bg{
  padding: 30px;
}
  