.form .form {
    margin-top: 15px;
}

.form .form mat-form-field {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.ng-tag{
    padding: 10px;
}

.add {
    height: 40px;
}

.example-chip-list {
    width: 100%;
  }

.footer {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

