<div *ngIf="currentUser" >
    <div class="vertical-menu" style="position: fixed">
        <a  [routerLink]='["/"]' [routerLinkActive]='["link-activee"]' [routerLinkActiveOptions]='{ exact: true }' class="bt-menu"><mat-icon class="bt-menu-i">home</mat-icon>Home</a>
        <h5 style="color: orange">Public</h5>
        <a  [routerLink]='["/posts"]' [routerLinkActive]='["link-activee"]' class="bt-menu"><mat-icon class="bt-menu-i">public</mat-icon> Stuck overflow</a>
        <a   [routerLinkActive]='["link-activee"]' class="bt-menu" [routerLink]='["/users"]'><mat-icon class="bt-menu-i">group</mat-icon> Users</a>
        <a   [routerLinkActive]='["link-activee"]' class="bt-menu" [routerLink]='["/tags"]'><mat-icon class="bt-menu-i">list_alt</mat-icon> Tags</a>
        <a [routerLinkActive]='["link-activee"]' class="bt-menu"  [routerLink]='["/UsersCard"]'><mat-icon class="bt-menu-i">people_outline</mat-icon>UsersCard</a>
        <a  [routerLinkActive]='["link-activee"]' class="bt-menu"  [routerLink]='["/friends"]'><mat-icon class="bt-menu-i">pan_tool</mat-icon>Friends</a>
    </div>
</div>