 

<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-color mb-3'>
    <div class="container">
      <a class="navbar-brand text-acceuil" [routerLink]='["/"]'>Prid1920-g03</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow mr-auto">
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li> -->
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-text" [routerLink]='["/counter"]'  *ngIf="currentUser">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-text" [routerLink]='["/counter-stateless"]'  *ngIf="currentUser">Counter (Stateless)</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-text" [routerLink]='["/fetch-data"]'  *ngIf="currentUser">Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser && isAdmin">
            <a class="nav-text" [routerLink]='["/users"]'>Users</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!currentUser">
            <a class="nav-text" [routerLink]='["/login"]'>
              <span class="material-icons">exit_to_app</span>
              <span> LogIn </span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!currentUser">
            <a class="nav-text" [routerLink]='["/signup"]'>
              <span class="material-icons">exit_to_app</span>
              <span> SignUp </span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser">
            <a class="nav-text" [routerLink]='' (click)='logout()'>
              <span class="material-icons">power_settings_new</span>
              <span> LogOut </span>
              <span class="text-pseudo">({{authenticationService.currentUser.pseudo}})</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
