<mat-card style="box-shadow: none; position: inherit; width: 100%;">
        <mat-card style="float: left; box-shadow: none;">
            <mat-card-subtitle style="text-align: center; ">
                {{ post?.voteState! }}<br> 
                <span>	
                    <mat-icon (click) = "upDown(post?.id, 1)" style="color: #008000; margin-right: 8px; cursor: pointer;">thumb_up</mat-icon>
                    <mat-icon (click) = "upDown(post?.id, -1)" style="color: red; cursor: pointer;">thumb_down</mat-icon>
                </span>
            </mat-card-subtitle>
            <mat-icon *ngIf = "post?.id == postParent?.acceptedAnswerId!" 
                      mat-stroked-button 
                      style="color: green; font-weight: bolder;">done_outline</mat-icon>
        </mat-card>
        <mat-card-header>
                <mat-card-subtitle><markdown [data]="post?.body"></markdown></mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-chip-list style="display: inline-block;" *ngFor="let tag of post?.tags">
                        <mat-chip  style="margin-right: 3px; border: none; margin-right: 10px; position: inherit; color: white; background-color: orange;">
                            {{ tag }}
                        </mat-chip>
                    </mat-chip-list>
                    
                <button *ngIf = "currentUser && postParent?.authorId == currentUser.id && postParent?.acceptedAnswerId! == null && post?.title == null" 
                        mat-stroked-button style="color: green;" 
                        (click)="accept(post.id)">Accept</button>

                <button *ngIf = "currentUser && postParent?.authorId == currentUser.id && post?.id == postParent?.acceptedAnswerId!" 
                        mat-stroked-button style="color: red;" 
                        (click)="accept(null)">Annuler</button>
            </mat-card-subtitle>
                
        </mat-card-header>
        <mat-card style="margin-left: 80%; box-shadow: none;  position: inherit;">
                <div style="display: inline;">
                    <mat-icon style="color: darkcyan; margin-right: 20px; cursor: pointer;" 
                              *ngIf = "currentUser && (currentUser.roleAsString == 'Admin' || currentUser?.id == post?.user.id)" 
                              (click)="update()">create</mat-icon>

                    <mat-icon style="color: red; cursor: pointer;" 
                              (click)="delete()" 
                              *ngIf = "currentUser && (currentUser.roleAsString == 'Admin' || (currentUser?.id == post?.user.id && post?.numResponse == 0 && post?.numComments == 0))">delete_sweep</mat-icon><br><br>
                </div>
            <mat-card-subtitle>
                <span mat-raised-button matTooltip="Date du post"
                        matTooltipClass="example-tooltip-red" 
                        aria-label="Button that shows a red tooltip" 
                        style=" font-size: 10px"
                        style="color: orange"
                        class="example-button">
                    asked at {{post?.timestamp | timeAgo}}
                </span>
            </mat-card-subtitle>
            <mat-card-header>
                <div mat-card-avatar [style.background-size]="'cover'" 
                                        style="width: 25px; height: 25px;"
                                        [style.background-image]="'url(' + (post?.user.picturePath || 'uploads/unknown-user.jpg') + ')'">
                </div>
                <mat-card-title style=" font-size: 10px;">{{post?.user.firstName!}}{{ '&nbsp;' }}{{post?.user.lastName!}}</mat-card-title>
                <mat-card-subtitle>
                    <span mat-raised-button matTooltip="reputation score" 
                                            matTooltipClass="example-tooltip-red"
                                            aria-label="Button that shows a red tooltip" 
                                            style=" font-size: 10px" 
                                            class="example-button">
                        <mat-icon style="color: darkgreen; font-size: 12px; margin-right: 5px;">fiber_manual_record</mat-icon><span style="font-size: 12px;">{{post?.user.reputation! }}</span>
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-expansion-panel *ngIf = "post?.numComments" 
                            style="width: 100%;box-shadow: none;" 
                            (opened)="panelOpenState = true" 
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                        {{ post?.numComments }} {{ '&nbsp;' }} Commentaire(s)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 15px;" >
                <section>
                    <div class="container" style="text-align: center">
                        <div class="row"  style="text-align: center" >
                            <div class="col-lg-12" *ngFor="let comment of post?.comments" style="text-align: center">
                                <div class="wrap">
                                    <div >
                                        <h5><span style="color: rgb(182, 182, 248);">*****{{ comment.commentUser.firstName }}{{ '&nbsp;' }}{{ comment.commentUser.lastName }}*****</span></h5>
                                        <h6> <span>comment at {{ comment.timestamp | timeAgo }}</span></h6>
                                        <p>
                                            <i>{{ comment.body }}</i>
                                        </p>
                                        <div>
                                            <mat-icon matTooltip="Edit this comment" 
                                                      matTooltipClass="example-tooltip-red" 
                                                      *ngIf = "currentUser && (currentUser.roleAsString == 'Admin' || currentUser?.id == comment.commentUser.id)"
                                                      style="color: darkcyan; position: inherit; margin-right: 30px; font-size: 29px; cursor: pointer" 
                                                      (click)="editComment(comment)">create</mat-icon>

                                            <mat-icon matTooltip="Delete this comment" 
                                                      matTooltipClass="example-tooltip-red" 
                                                      *ngIf = "currentUser && (currentUser.roleAsString == 'Admin' || currentUser?.id == comment.commentUser.id)"
                                                      style="color: red; position: inherit; font-size: 29px; cursor: pointer" 
                                                      (click)="deleteComment(comment)">clear</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon matTooltip="Add your comment"
                                      matTooltipClass="example-tooltip-red" 
                                      style="color: darkblue; position: inherit; margin: 15px; font-size: 39px; cursor: pointer" 
                                      (click)="addComment()">insert_comment</mat-icon>
                        </div>
                    </div>
                </section>
            </div>
        </mat-expansion-panel>
        <mat-icon matTooltip="Add your comment"
                  matTooltipClass="example-tooltip-red"  
                  *ngIf = "!post?.numComments" 
                  style="color: darkblue; position: inherit; margin: 15px; font-size: 39px; cursor: pointer" 
                  (click)="addComment()">insert_comment</mat-icon>
    </mat-card>