<form id="editForm" class="form" [formGroup]="editForm" novalidate>
    <h1 class="header">{{(!isNew ? 'Edit existing' : 'Add a new') + ' user'}}</h1>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="First Data">
            <div class="form"  >
                <mat-form-field>
                    <input matInput placeholder="Pseudo" [formControl]="ctlPseudo" required >
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('minlength')">Minimum length is
                        {{ctlPseudo.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPseudo.hasError('pseudoUsed')">Pseudo already in use
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [placeholder]="'Password ' + (isNew ? '' : ' (leave blank if no change)')"
                        [formControl]="ctlPassword" type="password" [required]="isNew" autocomplete="new-password">
                    <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlPassword.hasError('minlength')">Minimum length is
                        {{ctlPassword.errors['minlength'].requiredLength}}</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Firstname" [formControl]="ctlFirstName" >
                    <mat-error class="field-error" *ngIf="ctlFirstName.hasError('minlength')">Minimum length is
                        {{ctlFirstName.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlFirstName.hasError('maxlength')">Maximum length is
                            {{ctlFirstName.errors['maxlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <div *ngIf="editForm.errors">
                    <mat-error class="float-left" *ngIf="editForm.hasError('firstNameRequired')">firstname is required</mat-error><br>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Lastname" [formControl]="ctlLastName" >
                    <mat-error class="field-error" *ngIf="ctlLastName.hasError('minlength')">Minimum length is
                        {{ctlLastName.errors['minlength'].requiredLength}}</mat-error>
                    <mat-error class="field-error" *ngIf="ctlLastName.hasError('maxlength')">Maximum length is
                        {{ctlLastName.errors['maxlength'].requiredLength}}</mat-error>
                </mat-form-field>
                <div *ngIf="editForm.errors">
                    <mat-error class="float-left" *ngIf="editForm.hasError('lastNameRequired')">lastname is required</mat-error><br>
                </div>
                
            </div>
        </mat-tab>
        <mat-tab label="Last Data">
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="ctlEmail" [readonly]="!isNew">
                    <mat-error class="field-error" *ngIf="ctlEmail.hasError('emailUsed')">this email is already used 
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="BirthDate" [formControl]="ctlBirthDate" type="date">
                    <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('tooYoung')">Must be at least 18 years
                        old
                    </mat-error>
                    <mat-error class="field-error" *ngIf="ctlBirthDate.hasError('futureBorn')">Can't be born in the
                        future
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Role" [formControl]="ctlRole">
                        <mat-option [value]="2">Administrator</mat-option>
                        <mat-option [value]="1">Manager</mat-option>
                        <mat-option [value]="0">Member</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Picture">
            <div class="picture-container">
                <img class="img-responsive" [src]="picturePath" width="200">
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.gif">
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="footer">
        <button type="submit" mat-button form="editForm"
                [disabled]="editForm.invalid"
                (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>